	<footer>
		<img src="/logo.jpg">
		<h3>Fina Palha 2022 - Todos os direitos reservados.</h3>
		<p>Desenvolvido por <a href="https://wdpedroborges.github.io" target="_blank">Pedro Borges</a></p>
		<% if (!usuario) { %>
		<p><a href="/login-admin#admin">Login Admin</a></p>
		<% } %>
	</footer>
</body>
</html>