<%- include('partials/head'); -%>
<main>
	<section id="contato">
		<form action="https://formsubmit.co/xpedrostewart@gmail.com" method="POST">
			<h2>Contato</h2>
			<div class="divInput">
				<input type="text" name="nome" id="nome" autocomplete="off" placeholder=" " required>
				<span class="border-input"></span>
				<i class="bi bi-person"></i>
				<label for="nome">Nome*</label>
			</div>
			<div class="divInput">
				<input type="email" name="email" id="email" autocomplete="off" placeholder=" " required>
				<span class="border-input"></span>
				<i class="bi bi-envelope"></i>
				<label for="email">E-mail*</label>
			</div>
			<div class="divInput">
				<input type="number" name="telefone" id="telefone" autocomplete="off" placeholder=" " required>
				<span class="border-input"></span>
				<i class="bi bi-phone"></i>
				<label for="telefone">Telefone*</label>
			</div>
			<div class="divInput">
				<input type="text" name="mensagem" id="mensagem" autocomplete="off" placeholder=" " required>
				<span class="border-input"></span>
				<i class="bi bi-chat-left-dots"></i>
				<label for="mensagem">Mensagem*</label>
			</div>
			<button>Enviar</button>
		</form>	
	</section>
</main>
<%- include('partials/footer'); -%>